<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :course_id, params[:course_id] %>
  <%= hidden_field_tag :assignment_id, params[:assignment_id] %>

 <% if current_user.type.eql? "Student"%> 
  <%= f.fields_for :document, :html => {:multipart => true} do |d| %>
    <div class="field">
	  <%= d.label :file_description %>
      <%= d.text_field :title %>
    </div>
    <div class="field">
  	  <%= d.label :attachment %>
	  <%= d.file_field :file %>
	</div>
  <% end %>
<% end %>
<% if current_user.type.eql? "Instructor" %>
  <div class="field">
    <%= f.label :score %>
	<%= f.number_field :score%>
  </div>
  <div class="field">
    <%= f.label :grade %>
	<%= select :submission, :grade, Submission.grades, {:include_blank => :true} %>
  </div>
<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
