<h2> Submission for <%= @submission.assignment.title %> </h2>
<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <% if @submission.score == nil %>
    Not yet graded
  <% else %> 
    <%= @submission.score %>
  <% end %>
</p>

<p>
  <strong>Grade:</strong>
  <% if @submission.grade == nil %>
    Not yet graded
  <% else %>
    <%= @submission.grade %>
  <% end %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
