<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Course number:</strong>
  <%= @course.course_number %>
</p>

<p>
  <strong>Instructor:</strong>
  <% if @course.instructors %>
  	<% @course.instructors.each do |instructor| %>
	  <li><%= instructor.name %>
	  </li>
	<% end %>  
  <% end %>
</p>

<% if current_user.type.eql? "Instructor"%>
  <strong>Students:</strong></br>
  <% if @course.students %>
    <% @course.students.each do |student| %>
	  <li><%= link_to student.name, student_path(student.id) %></li>
	<% end %>
  <% end %></br>
  <%= link_to 'Add a student', new_student_path(:course_id => @course.id)%>
<% end %>
</br></br>
<strong>Assignments:</strong></br>
<% if @course.assignments %>
	<% @course.assignments.each do |assignment| %>
		<li><%= link_to assignment.title, assignment_path(assignment.id) %> &nbsp;
			<%= link_to 'Destroy', assignment, method: :delete, data: {confirm: 'Are you sure?'} %>
		</li>
	<% end %>
<% end %></br>
<% if current_user.type.eql? "Instructor"%>
  <%= link_to 'Add an assignment', new_assignment_path(:course_id => @course.id)%>
<% end %>	
			
</br></br></br>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
